/** @format */
/** @format */
body {
  font-family: Hind Siliguri, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/** @format */
.container {
  width: 1160px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/** @format */
.section {
  padding-top: 90px;
}

/** @format */
:root {
  --primery-color: #4d4949;
  --secondry-color: #4d4c49;
  --white-color: #ffffff;
  --hover-color: #393737;
  --comment-color: #818181;
}

/** @format */
@font-face {
  font-family: "Hind Siliguri";
  font-weight: 300;
  src: url("../fonts/HindSiliguri-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: 400;
  src: url("../fonts/HindSiliguri-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: 500;
  src: url("../fonts/HindSiliguri-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: 600;
  src: url("../fonts/HindSiliguri-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Hind Siliguri";
  font-weight: 700;
  src: url("../fonts/HindSiliguri-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida Grande";
  font-weight: 700;
  src: url("../fonts/lucida-grande.ttf") format("truetype");
}

/** @format */
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header__container {
  background-image: url(../images/hero-bg.jpg);
  width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__menu {
  display: flex;
}

.header__menu__item:not(:last-child) {
  margin-right: 40px;
}

.header__menu__item {
  position: relative;
}

.header__menu__link {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.66;
}

.header__menu__link:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  padding-bottom: 2px;
}

.header__menu__link:hover::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--primery-color);
  border-radius: 2px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  color: var(--primery-color);
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.64;
}

.current.header__menu__link {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  padding-bottom: 2px;
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--primery-color);
  border-radius: 2px;
}

/** @format */
.hero {
  padding-top: 155px;
  padding-bottom: 206px;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  width: 1440px;
  background-size: cover;
  margin: 0 auto;
}

.hero__title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.32;
  margin-bottom: 22px;
  max-width: 416px;
}

.hero__text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.52;
  margin-bottom: 22px;
  max-width: 660px;
}

.hero__btn {
  display: flex;
}

.hero__btn .button-dark {
  margin-right: 25px;
}

.hero__btn__dark {
  width: 100px;
  height: 45px;
}

.hero__btn__ligth {
  width: 125px;
  height: 45px;
}

/** @format */
.about__container {
  display: flex;
}

.about__examples {
  margin-right: 40px;
}

.typography {
  background: linear-gradient(108.56deg, rgba(230, 246, 65, 0.5) 0%, rgba(77, 147, 24, 0.5) 100%);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 184px;
  width: 260px;
  border-radius: 5px;
}

.typography:not(:last-child) {
  margin-bottom: 20px;
}

.typography__box {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 40px;
  background: #fff;
  border-radius: 0px 5px;
  background: #fff;
}

.typography__box::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 30px;
  left: -10px;
  height: 10px;
  width: 10px;
  border-top-right-radius: 5px;
  box-shadow: 5px 0 0 0 #fff;
}

.typography__box::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -10px;
  left: 25px;
  height: 10px;
  width: 10px;
  border-top-right-radius: 5px;
  box-shadow: 0 -5px 0 0 #fff;
}

.icon-set {
  background: linear-gradient(90deg, rgba(146, 177, 255, 0.5) 0%, rgba(35, 86, 255, 0.5) 100%);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 184px;
  width: 260px;
  border-radius: 5px;
}

.icon-set:not(:last-child) {
  margin-bottom: 20px;
}

.icon-set__box {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 40px;
  background: #fff;
  border-radius: 5px 0;
  background: #fff;
}

.icon-set__box::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 30px;
  left: 36px;
  height: 10px;
  width: 10px;
  border-top-left-radius: 5px;
  box-shadow: -5px 0 0 0 #fff;
}

.icon-set__box::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -10px;
  left: 0px;
  height: 10px;
  width: 10px;
  border-top-left-radius: 5px;
  box-shadow: 0 -5px 0 0 #fff;
}

.accurate {
  background: linear-gradient(270deg, #e5b1b1 0%, rgba(255, 9, 9, 0.5) 100%);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 184px;
  width: 260px;
  border-radius: 5px;
}

.accurate:not(:last-child) {
  margin-bottom: 20px;
}

.accurate__box {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 40px;
  background: #fff;
  border-radius: 0px 5px;
  background: #fff;
}

.accurate__box::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 30px;
  left: -10px;
  height: 10px;
  width: 10px;
  border-top-right-radius: 5px;
  box-shadow: 5px 0 0 0 #fff;
}

.accurate__box::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -10px;
  left: 25px;
  height: 10px;
  width: 10px;
  border-top-right-radius: 5px;
  box-shadow: 0 -5px 0 0 #fff;
}

.about__text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.64;
  margin-top: 20px;
}

.about__icon {
  height: 65px;
  width: 65px;
  margin-top: 48px;
}

.about__image__container {
  position: relative;
  background-color: rgba(234, 234, 234, 0.6);
}

.play__icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 72px;
  width: 72px;
}

.about__img {
  height: 100%;
}

/** @format */
.latest-posts__list {
  display: flex;
  margin-right: -40px;
}

.latest-posts__item {
  flex-basis: calc((100% - 80px) / 3);
  margin-right: 40px;
}

.latest-posts__title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.6;
  padding-top: 20px;
  padding-bottom: 5px;
}

.latest-posts__text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.6;
  padding-bottom: 32px;
}

.latest-posts__comment {
  font-family: Hind Siliguri;
  color: var(--comment-color);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.66;
  margin-right: 10px;
}

.comment {
  display: flex;
  align-items: center;
}

.oval {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: var(--comment-color);
  margin-right: 10px;
}

.comment_icon {
  height: 13px;
  width: 14px;
  margin-right: 5px;
}

/** @format */
.portfolio {
  padding-bottom: 60px;
}

.portfolio__list {
  display: flex;
  margin-right: -40px;
  margin-bottom: 40px;
}

.portfolio__item {
  position: relative;
  flex-basis: calc((100% - 80px) / 3);
  margin-right: 40px;
  cursor: url(../images/atoms/pointer-2.svg), pointer;
}

.portfolio__item_title {
  font-family: Hind Siliguri;
  color: var(--white-color);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.portfolio__item_text {
  font-family: Hind Siliguri;
  color: var(--white-color);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.66;
  text-align: center;
}

.portfolio__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
}

.portfolio__item:hover .icon_box {
  display: flex;
}

.portfolio__item:hover:after {
  opacity: 1;
  box-shadow: 0 10px 5px -5px #6d6d6d;
}

.text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-btn_arrow {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin: 0 auto 40px;
}

.btn-all-works {
  margin: 0 auto;
  height: 45px;
  width: 136px;
}

.icon_box {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 101px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio_icon {
  height: 17px;
  width: 17px;
  fill: #ffffff;
}

.portfolio_icon:not(:last-child) {
  margin-right: 25px;
}

/** @format */
.testimonials {
  background-image: linear-gradient(rgba(222, 222, 222, 0.6), rgba(222, 222, 222, 0.6)), url(../images/testimonial-bg.png);
  background-repeat: no-repeat;
  width: 1440px;
  background-size: cover;
  margin: 0 auto;
  padding: 80px 0;
}

.testimonials .title {
  margin-bottom: 65px;
}

.testimonials__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__box {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.testimonials__box_user {
  height: 265px;
  width: 280px;
  background-color: #494a4d;
}

.testimonials__box_citation {
  position: relative;
  font-family: Hind Siliguri;
  color: var(--white-color);
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.52;
  margin-bottom: 37px;
  padding: 60px 40px 0 48px;
}

.testimonials__box_citation::before {
  content: open-quote;
  position: absolute;
  top: 30px;
  left: 30px;
  height: 45px;
  width: 13px;
  color: #ffffff;
  font-family: "Hind Siliguri";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 45px;
}

.testimonials__box_text {
  font-family: Hind Siliguri;
  color: var(--white-color);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.66;
  padding-left: 48px;
}

/** @format */
.contact_us {
  padding-bottom: 120px;
}

.contact_us-box {
  display: flex;
}

.contact_us-box .title {
  margin-top: 132px;
  text-align: start;
}

.step_box {
  width: 400px;
  padding-top: 20px;
}

.step_list {
  margin-top: 40px;
  padding-left: 28px;
  border-left: 1px solid #dddddd;
}

.step_item {
  position: relative;
}

.oval_box {
  position: absolute;
  top: 2px;
  left: -36px;
}

.oval_border {
  position: relative;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 4px solid var(--primery-color);
  background-color: white;
}

.oval_border_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: var(--primery-color);
  margin-right: 10px;
}

.step_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.73;
}

.step_text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.73;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 25px;
  padding-bottom: 33px;
}

.map-text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.23;
  width: 615px;
}

.form-box {
  display: flex;
  width: 760px;
}

.map-box {
  border-radius: 5px;
  background-color: var(--white-color);
  box-shadow: 0 8px 25px 0 #b7b7b7;
  padding-top: 10px;
  padding-left: 20px;
}

.form_contact-us {
  padding: 50px 30px;
}

.form_contact-us_btn {
  height: 45px;
  width: 144px;
  margin-bottom: 50px;
}

.map_text-box {
  display: flex;
}

.map_icon {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

.form-input {
  box-sizing: border-box;
  height: 45px;
  width: 320px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 38px;
  padding-left: 10px;
  outline: none;
}

.form-input:last-child {
  margin-bottom: 30px;
}

.form-input:hover, .form-input:focus {
  border: 1px solid var(--primery-color);
}

.hidepass {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.hidepass_icon {
  height: 10px;
  width: 14px;
  margin-right: 5px;
  margin-left: auto;
}

.hidepass_text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1, 64;
}

.input_text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 28px;
  padding-bottom: 15px;
}

.form_text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.64;
}

.form_text a {
  font-weight: bold;
  color: var(--primery-color);
}

/** @format */
.footer {
  position: fixed;
  z-index: 11;
  background-color: #f8f8f8;
  border-top: 1px solid #dddddd;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
}

.footer_box {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.footer_box_text {
  font-family: Hind Siliguri;
  color: #333333;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.66;
}

/** @format */
.search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 52px;
  margin-bottom: 30px;
}

.search_icon {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  position: absolute;
  height: 20px;
  width: 20px;
  fill: var(--primery-color);
  margin-right: 15px;
}

.search_imput {
  box-sizing: border-box;
  display: inline-block;
  height: 45px;
  width: 320px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}

.search_imput:hover, .search_imput:focus {
  border: 1px solid var(--primery-color);
}

.search_imput::placeholder {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.66;
}

.blog {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #fcf6f6;
  cursor: url(../images/atoms/pointer-5.svg), pointer;
}

.blog_info {
  margin-left: 40px;
  background-color: #fcf6f6;
}

.blog_play_icon {
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 72px;
  width: 72px;
}

.blog:hover {
  box-shadow: 0 11px 20px -13px #6d6d6d;
}

.author {
  display: flex;
  margin-bottom: 35px;
  padding-top: 15px;
}

.author_name {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.64;
}

.author_img {
  margin-right: 15px;
  height: 52px;
  width: 52px;
}

.author_blog_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3;
  margin-bottom: 23px;
}

.author_blog_text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.52;
  margin-bottom: 30px;
  max-width: 460px;
}

.author_blog_text_comment {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.52;
  margin-bottom: 30px;
  max-width: 1033px;
}

.author_btn {
  height: 45px;
  width: 121px;
  cursor: url(../images/atoms/pointer-4.svg), pointer;
}

.author_icon {
  height: 40px;
  width: 40px;
  fill: #d8d8d8;
  margin: 18px 22px;
}

.author_icon_container {
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid #ffffff;
  border-radius: 5px;
}

.star_icon {
  height: 14px;
  width: 14px;
}

.read-more {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 80px;
}

.read-more_btn {
  margin: 0 auto;
}

.blog_comment {
  position: relative;
  padding: 17px 27px;
}

.blog_comment_author {
  display: flex;
  margin-bottom: 40px;
}

/** @format */
.post_container {
  display: flex;
  padding-top: 50px;
}

.post_info {
  width: 660px;
  margin-right: 40px;
  padding-bottom: 60px;
}

.post_info_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.32;
}

.post_info_img {
  margin-bottom: 15px;
}

.post_info_audio {
  margin-bottom: 15px;
}

.post_service {
  width: 460px;
  padding-top: 200px;
  padding-left: 15px;
}

.post_service_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.625;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.post_service_btn {
  height: 45px;
  width: 125px;
  margin-left: auto;
  margin-right: 30px;
}

.tags_box {
  display: flex;
  flex-wrap: wrap;
}

.tags_btn {
  height: 35px;
  padding: 10px 14px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.latest_posts {
  margin-bottom: 130px;
}

.latest_posts_list {
  padding-left: 15px;
}

.latest_posts_item {
  display: flex;
  margin-bottom: 30px;
}

.latest_posts_img {
  margin-right: 15px;
}

.latest_posts_discr {
  padding-top: 33px;
}

.latest_posts_text {
  margin-bottom: 30px;
  font-family: "Lucida Grande";
  color: var(--primery-color);
  font-size: 17px;
  max-width: 225px;
  letter-spacing: 0;
  line-height: 1.35;
}

.author_post {
  display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
}

.author_post_name {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.64;
}

.author_post_img {
  margin-right: 15px;
  height: 52px;
  width: 52px;
}

.author_post_text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.52;
  margin-bottom: 25px;
}

.author_post_title-second {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.625;
  margin-bottom: 30px;
}

.author_post_result {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 1px solid #dddddd;
  margin-top: 70px;
}

.border_post {
  padding: 8px 100px 8px 26px;
  border-left: 5px solid #e6e6e6;
  margin-bottom: 45px;
}

.border_post_text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.52;
}

.like {
  display: flex;
  align-items: baseline;
}

.like_link {
  position: relative;
}

.like_icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.like_icon-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.like_icon-hover:hover {
  opacity: 1;
}

.like_amount {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.66;
}

.Reviews {
  padding-top: 23px;
}

.Reviews_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.625;
  margin-bottom: 75px;
}

.Reviews_img_author {
  height: 80px;
  width: 80px;
  margin-right: 35px;
}

.Reviews_item {
  display: flex;
  margin-bottom: 105px;
}

.Reviews_item_text {
  color: var(--primery-color);
  font-family: Hind Siliguri;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.66;
  max-width: 511px;
}

.Reviews_btn {
  height: 45px;
  width: 158px;
  margin: 0 auto;
}

.Reviews_link {
  color: var(--primery-color);
  font-family: Hind Siliguri;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.66;
  text-decoration: underline;
  padding-left: 450px;
}

.author_name_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.64;
  margin-right: 10px;
}

.author_time {
  color: #818181;
  font-family: "Hind Siliguri";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.66;
}

.author_name_box-flex {
  display: flex;
  margin-bottom: 25px;
}

.author_name_box div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.time_icon {
  height: 14px;
  width: 14px;
  margin-right: 10px;
}

.categories {
  padding-left: 0;
  margin-bottom: 216px;
}

/** @format */
.button-dark {
  font-family: Hind Siliguri;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  background: var(--secondry-color);
  color: var(--white-color);
  border-radius: 5px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-dark:hover {
  background: var(--hover-color);
}

.button-light {
  font-family: Hind Siliguri;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0;
  color: var(--primery-color);
  background: var(--white-color);
  border-radius: 5px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primery-color);
}

.button-light:hover {
  background: var(--hover-color);
  color: var(--white-color);
}

.button-arrow {
  height: 45px;
  width: 45px;
  border: 1px solid var(--primery-color);
  border-radius: 5px;
  background-color: var(--white-color);
  cursor: url(../images/atoms/pointer-3.svg), pointer;
}

.button-arrow:hover {
  box-shadow: 0 3px 5px 0 #6d6d6d;
}

.arrow_icon_left {
  display: block;
  width: 18px;
  height: 18px;
  transform: rotate(90deg);
}

.arrow_icon_rigth {
  margin: 0 auto;
  width: 18px;
  height: 18px;
  transform: rotate(270deg);
}

/** @format */
.title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 23px;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--primery-color);
}

.title_border-about {
  position: absolute;
  height: 8px;
  width: 90px;
  border-top: 1px solid #fff;
  border-left: 1px solid var(--primery-color);
  border-right: 1px solid var(--primery-color);
  border-bottom: 1px solid var(--primery-color);
  top: 63%;
  left: 520px;
}

.title_border-latest_posts {
  position: absolute;
  height: 8px;
  width: 121px;
  border-top: 1px solid #fff;
  border-left: 1px solid var(--primery-color);
  border-right: 1px solid var(--primery-color);
  border-bottom: 1px solid var(--primery-color);
  top: 63%;
  left: 505px;
}

.title_border-portfolio {
  position: absolute;
  height: 8px;
  width: 159px;
  border-top: 1px solid #fff;
  border-left: 1px solid var(--primery-color);
  border-right: 1px solid var(--primery-color);
  border-bottom: 1px solid var(--primery-color);
  top: 63%;
  left: 486px;
}

.title_border-testimonials {
  position: absolute;
  height: 8px;
  width: 129px;
  border-top: 1px solid #cbd8eb;
  border-left: 1px solid var(--primery-color);
  border-right: 1px solid var(--primery-color);
  border-bottom: 1px solid var(--primery-color);
  top: 38%;
  left: 501px;
}

.title_border-contact_us {
  position: absolute;
  height: 8px;
  width: 108px;
  border-top: 1px solid #fff;
  border-left: 1px solid var(--primery-color);
  border-right: 1px solid var(--primery-color);
  border-bottom: 1px solid var(--primery-color);
  top: 62%;
  left: 511px;
}

.title_border-blog {
  position: absolute;
  height: 8px;
  width: 43px;
  border-top: 1px solid #fff;
  border-left: 1px solid var(--primery-color);
  border-right: 1px solid var(--primery-color);
  border-bottom: 1px solid var(--primery-color);
  top: 80%;
  left: 543px;
}

.title_step {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.625;
  margin-top: 120px;
}

.title_box {
  position: relative;
  text-align: center;
}

.text {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 1.52;
  text-align: center;
  margin: 0 auto 60px;
  width: 442px;
}

.title_blog {
  margin-top: 55px;
}

/** @format */
.social_list {
  display: flex;
}

.social_item:not(:last-child) {
  margin-right: 25px;
}

.social_icon {
  height: 23px;
  width: 23px;
}

/** @format */
details {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 13px;
  margin-bottom: 20px;
  margin-left: 6px;
}

.categories_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

details[open] summary {
  margin-bottom: 25px;
}

.accordion_icon {
  height: 18px;
  width: 18px;
  transition: transform 0.2s;
}

details[open] .accordion_icon {
  transform: rotate(180deg);
}

.according_menu_link {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
}

.according_menu_link:hover {
  font-weight: 500;
}

.according_menu_item {
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */