/** @format */

.contact {
  margin-bottom: 60px;

  &__content {
    display: flex;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    &__box {
      width: 700px;
      margin-right: 140px;
    }

    &__field {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      &:nth-child(2n + 1) {
        margin-right: 20px;
      }

      &::placeholder {
        color: #a6a6a6;
        font-family: Lato;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 1.22;
      }
    }

    &__text {
      margin-bottom: 10px;
    }

    &__input {
      height: 48px;
      width: 340px;
      border: 1px solid #a6a6a6;
      background-color: var(--white-color);
      padding-left: 15px;
      outline: none;

      &:hover {
        border: 1px solid #8f8d8d;
      }

      &:active {
        border: 1px solid var(--primery-color);
      }
    }

    &__group-buttons {
      margin-bottom: 30px;
    }

    &__radio {
      &-input {
      }

      &-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
      }

      &-button {
        cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;

        position: relative;
        margin-top: 15px;
        padding-left: 39px;

        &::before {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #a6a6a6;
          cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;

          .contact__form__radio-input:checked + & {
            background: var(--primery-color);
          }

          .contact__form__radio-input:hover + & {
            background: #dedbdb;
          }
        }
      }
    }

    &__message {
      display: block;
      height: 130px;
      width: 700px;
      padding-top: 10px;
      padding-left: 15px;
      resize: none;
    }

    &__desc {
      cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;

      position: relative;
      padding-left: 35px;

      &::before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 24px;
        height: 24px;
        border: 1px solid #a6a6a6;
        cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;
      }

      &__icon {
        position: absolute;
        display: none;
        top: 4px;
        left: 4px;
        height: 15px;
        width: 15px;
        fill: #a6a6a6;

        .contact__form__desc:hover & {
          display: block;
        }

        &-black {
          position: absolute;
          display: none;
          top: 4px;
          left: 4px;
          height: 15px;
          width: 15px;
          fill: var(--primery-color);

          .contact__form__term:checked + label & {
            display: block;
          }
        }
      }
    }
  }

  &__information {
    width: 580px;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 36px;

      &__icon {
        height: 24px;
        width: 24px;
      }
    }

    &__name {
      color: var(--primery-color);
      font-family: Lato;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.22;
      padding: 0 20px;

      &:not(:last-child) {
        border-right: 1px solid #cec7c7;
      }
    }

    &__tel {
      color: var(--primery-color);
      font-family: Lato;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.22;
      margin-right: 2px;
      margin-left: 20px;

      &__link {
        color: var(--primery-color);
        font-family: Lato;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 1.22;
        margin-right: 2px;
        cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;

        &:hover {
          color: var(--hover-color);
        }
      }
    }

    &__mail {
      color: var(--primery-color);
      font-family: "Lucida Grande";
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.22;
      margin-right: 2px;
      margin-left: 20px;

      &__link {
        color: var(--secondry-color);
        font-family: Lato;
      }
    }
  }
}

.button {
  font-family: Lato;
  height: 48px;
  width: 220px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0;
  background: var(--secondry-color);
  color: var(--white-color);
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
