/** @format */
.footer {
  background: var(--primery-color);

  &__title {
    margin-bottom: 25px;
    color: var(--white-color);
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.22;
  }

  &__box {
    padding-top: 40px;
    padding-bottom: 28px;
  }

  &__logo {
    &__box {
      width: 340px;
    }

    &__link {
      color: var(--secondry-color);
      font-family: Lato;
      font-size: 30px;
      letter-spacing: 0;
      line-height: 1.2;
    }

    &__text {
      margin-top: 36px;
      margin-bottom: 39px;
      color: var(--white-color);
      font-family: Lato;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.5;
    }
  }

  &__box {
    display: flex;
  }

  &__menu {
    &__list {
      display: flex;
      margin-left: 140px;
    }

    &__item {
      width: 220px;
    }
  }

  &__social {
    &__item {
      margin-right: 12px;
    }

    &__link {
      height: 30px;
      width: 30px;
      cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;
    }

    &__list {
      display: flex;
    }

    &__icon {
      height: 16px;
      width: 21px;
      fill: var(--comment-color);

      .footer__social__link:hover & {
        fill: var(--white-color);
      }
    }
  }
}

.menu-inform {
  &__item {
    margin-bottom: 15px;
  }

  &__link {
    color: var(--white-color);
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.375;
    cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;

    &:hover {
      color: var(--hover-secondry-color);
      border-bottom: 1px solid var(--hover-secondry-color);
    }
  }
}
