/** @format */
.footer__blog {
  background-color: #f8f8f8;
  width: 1440px;
}

.footer_box {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;

  &_text {
    font-family: Hind Siliguri;
    color: #333333;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.66;
  }
}
