/** @format */
.header {
  background: var(--primery-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo__link {
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
  }

  &__logo__text {
    margin-left: 20px;
    color: var(--secondry-color);
    font-family: Lato;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 1.2;
  }

  &__menu {
    display: flex;

    &__link {
      margin-left: 45px;
      color: var(--white-color);
      font-family: Lato;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.22;
      cursor: url("../../images/cursor/svg-editor-image-small.svg"), pointer;

      &:hover {
        color: var(--hover-secondry-color);
        padding-bottom: 15px;
        border-bottom: 1px solid var(--hover-secondry-color);
      }
    }
  }
}
