/** @format */
.hero {
  padding-top: 155px;
  padding-bottom: 206px;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  width: 1440px;
  background-size: cover;
  margin: 0 auto;

  &__title {
    font-family: Hind Siliguri;
    color: var(--primery-color);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.32;
    margin-bottom: 22px;
    max-width: 416px;
  }

  &__text {
    font-family: Hind Siliguri;
    color: var(--primery-color);
    font-size: 17px;
    letter-spacing: 0;
    line-height: 1.52;
    margin-bottom: 22px;
    max-width: 660px;
  }

  &__btn {
    display: flex;

    & .button-dark {
      margin-right: 25px;
    }

    &__dark {
      width: 100px;
      height: 45px;
    }

    &__ligth {
      width: 125px;
      height: 45px;
    }
  }
}
