/** @format */

.testimonials {
  background-image: linear-gradient(
      rgba(222, 222, 222, 0.6),
      rgba(222, 222, 222, 0.6)
    ),
    url(../images/testimonial-bg.png);
  background-repeat: no-repeat;
  // width: 1440px;
  background-size: cover;
  margin: 0 auto;
  padding: 80px 0;

  &__btn__box {
    position: relative;
  }

  & .title {
    margin-bottom: 65px;
  }

  &__container {
    margin: 0 auto;
    width: 560px;
    overflow: hidden;
  }

  &__box {
    min-width: 100%;
    display: flex;
    justify-content: center;

    &_user {
      height: 265px;
      width: 280px;
      background-color: #494a4d;
    }

    &_citation {
      font-family: Hind Siliguri;
      color: var(--white-color);
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 1.52;
      margin-bottom: 37px;
      padding: 60px 40px 0 48px;

      &::before {
        content: open-quote;
        position: absolute;
        top: 30px;
        left: 30px;
        height: 45px;
        width: 13px;
        color: #ffffff;
        font-family: "Hind Siliguri";
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 45px;
      }
    }

    &_text {
      font-family: Hind Siliguri;
      color: var(--white-color);
      font-size: 15px;
      letter-spacing: 0;
      line-height: 1.66;
      padding-left: 48px;
    }
  }
}

.slides__container {
  display: flex;
  width: 100%;
}

.btn__container {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 710px;
}
