/** @format */

.welcome {
  padding-top: 58px;
  padding-bottom: 96px;

  &__content {
    &__list {
      display: flex;
      margin-top: 80px;
    }

    &__item {
      width: 340px;

      &:not(:last-child) {
        margin-right: 141px;
      }

      &__box {
        display: flex;
        margin-bottom: 24px;
        align-items: center;
      }

      &__title {
        color: var(--primery-color);
        font-family: Lato;
        font-size: 25px;
        letter-spacing: 0;
        line-height: 1.2;
      }
    }

    &__box {
      display: flex;
      padding-top: 40px;

      &__text {
        width: 700px;
        margin-right: 144px;
        margin-top: -40px;
      }
    }

    &__icon {
      margin-right: 18px;
      height: 35px;
      width: 35px;

      &-last {
        margin-right: 17px;
        height: 37px;
        width: 27px;
      }
    }
  }

  &__image {
    &__box {
      position: relative;
      width: 580px;
    }

    &__button {
      &__box {
        position: absolute;
        display: flex;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        margin-left: 25px;
      }

      &-left {
        cursor: url("../../images/cursor/svg-editor-image.svg"), pointer;
        margin-right: 470px;

        &__icon {
          height: 30px;
          width: 30px;
          transform: rotate(90deg);
          fill: var(--white-color);

          .welcome__image__button-left:hover & {
            fill: var(--hover-color);
          }
        }
      }

      &-right {
        cursor: url("../../images/cursor/svg-editor-image.svg"), pointer;

        &__icon {
          height: 30px;
          width: 30px;
          transform: rotate(270deg);
          fill: var(--white-color);

          .welcome__image__button-right:hover & {
            fill: var(--hover-color);
          }
        }
      }
    }

    &__text {
      position: absolute;
      bottom: 22px;
      left: 25px;
      color: var(--white-color);
      font-family: Lato;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.22;
    }

    &__number {
      position: absolute;
      bottom: 22px;
      right: 25px;
      color: var(--white-color);
      font-family: Lato;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 1.22;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 15px;
  }
}
