/** @format */

details {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 13px;
  margin-bottom: 20px;
  margin-left: 6px;
}

.categories_title {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 17px;
  letter-spacing: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

details[open] summary {
  margin-bottom: 25px;
}

.accordion_icon {
  height: 18px;
  width: 18px;
  transition: transform 0.2s;
}

details[open] .accordion_icon {
  transform: rotate(180deg);
}

.according_menu_link {
  font-family: Hind Siliguri;
  color: var(--primery-color);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;

  &:hover {
    font-weight: 500;
    cursor: url(../images/atoms/pointer-3.svg), pointer;
  }
}

.according_menu_item {
  margin-bottom: 20px;
}
