/** @format */

.button-dark {
  font-family: Hind Siliguri;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  background: var(--secondry-color);
  color: var(--white-color);
  border-radius: 5px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
  }
}

.button-light {
  font-family: Hind Siliguri;
  font-weight: 500;
  font-size: 15px;
  // line-height: 1.66;
  letter-spacing: 0;
  color: var(--primery-color);
  background: var(--white-color);
  border-radius: 5px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--primery-color);
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
    color: var(--white-color);
  }
}

.button-arrow {
  height: 45px;
  width: 45px;
  border: 1px solid var(--primery-color);
  border-radius: 5px;
  background-color: var(--white-color);
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 10px 0 #6d6d6d;
  }
}

.arrow_icon_left {
  display: block;
  width: 18px;
  height: 18px;
  transform: rotate(90deg);
  cursor: pointer;
}

.arrow_icon_rigth {
  margin: 0 auto;
  width: 18px;
  height: 18px;
  transform: rotate(270deg);
  cursor: pointer;
}
