/** @format */

.title {
  padding-bottom: 20px;
  color: var(--primery-color);
  font-family: Lato;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.2;
  border-bottom: 1px solid var(--hover-secondry-color);

  &__secondary {
    color: var(--primery-color);
    font-family: Lato;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 20px;

    &__text {
      font-weight: bold;
    }
  }
}

.content__text {
  color: var(--primery-color);
  font-family: Lato;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.5;

  &__bold {
    font-weight: bold;
  }
}
